:root{
    --app-corner:20px;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 5%; 
}
.todo__container{
    width: 375px;
    height: 810px;
    border-radius:var(--app-corner);
    box-shadow:5px 5px 25px black ;
}
.todo__header{
    position:absolute;
    width: inherit;
    background-image:url(./todo-bg.jpg);
    height: 200px;
    border-top-left-radius: var(--app-corner);
    border-top-right-radius: var(--app-corner);
}
.todo__title{
    color: white;
    font-size: 42px;
    font-weight: bolder;
    position: relative;
    left:80px;
    top:40px;
}
.todo__insert-icon{
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: transform 800ms ease-in-out;

}
.todo__insert-icon:hover{
    transform: rotate(360deg);

}
.todo__List{
    position: absolute;
    list-style: none;
    width: inherit;
    padding-left: 0;
    margin-top: 200px;

}
.none-todos{
    position: absolute;
    margin-top: 60%;
    left: 8%;
    color: #c361ff;
    font-size: 26px;
    font-weight:bolder;
}
.todo__item{
    display: flex;
    flex-direction: row;
    height: 90px;
    align-items: center;
    justify-content: space-around;
}
.todo__complete{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo__info{
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.todo__info-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.todo__info-desc{
    display: block;
    width: 250px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    font-weight:400;
}
.todo__item.complete{
    background-color:#eae8ed ;
}
.todo__item.complete .todo__complete{
    background-color: #c361ff;
    border: 1px solid #8b00e170 ;
}
.todo__item.complete .todo__info-title{
    text-decoration: line-through;
    
}
.btn{
    cursor: pointer;
}
.todo__modal{
    display: none;
    position: relative;
    width: inherit;
    height: inherit;
    background-color:#00000050 ;
    border-radius: var(--app-corner);
}
.todo__modal.show{
    display: flex;
    animation-duration: 1.3s;
    animation-name: openModal;
}

@keyframes openModal {
    from {
        height: 0;
    }
    to{
        height: 100%;
    }
}

.todo__modal-body{
    display:flex ;
    flex-direction: column;
    position: absolute;
    height: 250px;
    background-color: white;
    left: 0;
    right:0;
    bottom:0;
    border-radius: var(--app-corner);
    align-items: center;
    justify-content: space-around;
}
.form__control{
    background-color: #eae8ed;
    border:1px solid black;
    width: 90%;
}
.form__control::placeholder{
    color:#707070;
}
.form__control-input{
    font-size: 24px;
    height: 40px;
}
.form__control-textarea{
    font-size: 24px;
    height: 120px;
    margin-bottom: 50px;
}
.btn-save{
    position: absolute;
    width: 92%;
    background-color: #c361ff;
    border: 1px solid #8b00e170;
    color: white;
    font-size: 20px;
    font-weight: 900;
    bottom: 20px;
}